$maxWidth: 40rem;

.chatWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.chatBox {
  background-color: var(--pico-form-element-selected-background-color);
  border-radius: var(--pico-border-radius);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.25rem;
  margin: -2rem auto 1rem auto;
  max-width: $maxWidth;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;

  &:focus-within {
    box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
  }

  > button {
    align-self: flex-end;
    display: inline-block;
    line-height: 1.35rem;
    margin: 0;
    min-width: 2rem;
    padding: 0.25rem;
    width: auto;

    &[aria-busy="true"] {
      &::before {
        margin: 0;
      }

      > span {
        display: none;
      }
    }
  }

  > textarea {
    background-color: transparent;
    border: 0;
    font-family: inherit;
    margin: 0;
    padding: 0 0 0 0.25rem;
    resize: none;
    width: 100%;

    &:focus {
      box-shadow: none;
    }
  }
}

.chatArea {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  overflow-y: overlay;
  padding: 1rem 0 0 0;
  width: 100%;
}

.messageList {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 100%;
  max-width: $maxWidth;
  padding: 0 0 0 1rem;
  white-space: pre-line;
  width: 100%;

  > .loadingIndicator {
    align-self: flex-start;
    animation: loading-pulse 1s linear infinite alternate;
    color: var(--pico-secondary-hover);
    font-style: italic;
    max-width: 50%;
  }

  > .scrollAnchor {
    height: 2rem; // Accounts for the negative top margin of the input box.
  }
}

.userMessage {
  align-self: flex-end;
  background-color: var(--pico-form-element-selected-background-color);
  border-radius: 0.5rem;
  color: var(--pico-form-element-placeholder-color);
  margin-top: var(--pico-typography-spacing-vertical);
  max-width: 50%;
  padding: 1rem;
}

.aiMessage {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0.5em;
  }

  code {
    padding: 0.25rem 0.5rem;
  }

  pre {
    margin: 0;

    > code {
      padding: 1rem;
    }
  }

  ol,
  ul {
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;

    > li {
      // Fixes for "bad" rendering caused by block elements inside list items.
      &.blockContent {
        line-height: 0;
        margin: 0;

        + li {
          margin-top: calc(var(--pico-typography-spacing-vertical) * 0.5);
        }

        > * {
          display: inline-block;
          line-height: 1.5;
          max-width: 100%;
        }

        > :first-child {
          margin-top: -0.75rem; // half the line-height, to align with marker
        }

        > p {
          margin-bottom: calc(var(--pico-typography-spacing-vertical) * 0.5);

          > br {
            display: none;
          }
        }
      }

      > p {
        display: inline-block;
      }

      > ol,
      > ul {
        display: inline-block;
        margin: 0;

        > li {
          line-height: 1.25;
        }
      }
    }
  }

  p {
    margin-bottom: 0;
  }
}

.chatModal {
  > article {
    max-width: 480px;
    width: 50%;

    > header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    > footer {
      background-color: transparent;
      text-align: center;

      > button {
        padding: 0.5rem 1.5rem;
      }
    }

    > p {
      min-height: 80px;
    }
  }
}

@keyframes loading-pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
